
            
           /* body
            {
                /* background-image: url(https://i.pinimg.com/originals/7f/22/bd/7f22bd1107b49b5eac20ce21b80d6489.jpg); 
            }*/
            h1, h2, p
            { 
            color: #ffffff; 
            } 
            .title h1
            {
                position: relative;
                left: 47%;
                top: 100px;
                
            }
            h2
            {
                position: relative; 
                left: 250px;
            }
            p
            {
                position: relative; 
                left: 200px; 
            }
            *
            {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
            body
            {
                /* background: linear-gradient(45deg, #8460ed, #ff1252); */
                background-image: url(https://i.pinimg.com/originals/7f/22/bd/7f22bd1107b49b5eac20ce21b80d6489.jpg);
                

            }

            